@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

@font-face {
  font-family: FreePixel;
  src: url("../../fonts/FreePixel.ttf");
}

$pixel-font: FreePixel, sans-serif;
$osc-font: "Open Sans Condensed", sans-serif;
