footer {
  height: 50px;
  background-color: $hero-bg;
  color: white;
  font-family: $osc-font;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
